/* Get the instruction from Professor lecture */
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;800&family=Balsamiq+Sans&display=swap');

* {
	box-sizing: border-box
}

body {
	background-color: #EED0B4;
	display: flex;
	justify-content: center;
	padding: 20px;
	flex-direction: column;
	align-items: flex-start;
	margin: 0;
}